- var img = 'img/';

doctype
html
	include ../blocks/head.pug
		title Займы
	body
		include ../blocks/header.pug

		section.breadcrumbs
			.container
				ul
					li
						a(href="#") Микрозаймы
					li
						a(href="#") На карту

		.page-container
			section.news
				.container
					#tabs
						ul
							li
								a(href="#tab1") Все
							li
								a(href="#tab2") Сравнения
							li
								a(href="#tab3") Бытовая аналитика
							li
								a(href="#tab4") Тест-драйвы
							li
								a(href="#tab5") Истории
							li
								a(href="#tab6") Советы
							li
								a(href="#tab7") Funny Money
						#tab1
							.items
								a(href="").item.big
									img.item__img(src=img+"item-big.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							a.show-more(href="#") Читать еще
						#tab2
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						#tab3
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						#tab4
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						#tab5
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						#tab6
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						#tab7
							.items
								a(href="").item.small
									img.item__img(src=img+"item-small.jpg", alt="")
									.text-container
										h3 Заголовок новости
										p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

		include ../blocks/footer.pug

		include ../blocks/scripts.pug